@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
:root {
  --primary: #393e3e;
  --secondary: #145c72;
  --secondary-light: #00a0d1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "poppins", sans-serif;
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}

.background {
  background-image: url(bg.png);
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* CONTAINER */
.container {
  height: 100vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

/* BOX */
.box {
  height: 35rem;
  width: 80%;
  background-color: var(--primary);
  border: 5px solid var(--secondary);
  border-radius: 40px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/* CALCULATE FORM */
.calculate-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  padding: 2rem;
  place-content: center;
}
.calculate-form input {
  height: 4rem;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  padding: 0 2rem;
  font-size: 1.6rem;
  background-color: transparent;
  width: 100%;
  max-width: 30rem;
}
input::placeholder {
  color: white;
  font-size: 1.6rem;
}
input:focus-visible {
  outline: 2px solid var(--secondary);
  border: 2px solid var(--secondary);
}
/* PRIMARY BUTTON */
.calculate-form button {
  grid-column: 1/3;
  justify-self: center;
}
.primary-btn {
  font-size: 2rem;
  width: 15rem;
  padding: 1rem 2rem;
  background: var(--secondary);
  border-radius: 1rem;
  border: none;
  cursor: pointer;
}
.primary-btn:hover {
  opacity: 0.9;
}
.primary-btn:active {
  opacity: 1;
  background-color: var(--secondary-light);
}

/* CONTENT */
.content {
  color: var(--primary);
  text-align: center;
}
.content h1 {
  font-size: 6rem;
  line-height: 90%;
}
.content h2 {
  font-size: 4rem;
  line-height: 80%;
  font-weight: 500;
}

/* RESULT */
.result {
  color: white;
  text-align: center;
  font-size: 2rem;
}

@media (max-width: 1450px) {
  .container {
    width: 100%;
  }
  .box {
    width: 70%;
  }
  input {
    min-width: 100%;
  }
}
@media (max-width: 786px) {
  .container {
    width: 100%;
  }
  .box {
    height: 45%;
    width: 70%;
  }
  .calculate-form {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  input {
    min-width: 100%;
  }
  .calculate-form button {
    grid-column: 1/2;
  }
  .content h1 {
    font-size: 5rem;
  }
  .content h2 {
    font-size: 3rem;
  }
  .result {
    padding: 2rem;
  }
}
